p{
    color: #964B00;
    text-align: center;
    line-height: 1.5em;
}
h1{
    text-align: center;
    color:red;
    font-family:Georgia;
}
h3{
    text-align: center;
    color:black;
}
a{
    text-decoration:none;
    color:green;
}
button{
    background-color:#ffffff;
    color:blueviolet;
    border:2px solid blueviolet;
}
textarea{
    color:black;
}
span{
    text-decoration:underline;
}